<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Taxistas</span>
</nav>

<div class="row p-3">
    <div class="col-8">
        <h3>Mapa</h3>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
            <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false">
            </agm-marker>
        </agm-map>
    </div>
    <div class="col-4">
        <h3>Taxistas</h3>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active">
        Cras justo odio
      </button>
            <button type="button" class="list-group-item list-group-item-action">
        Dapibus ac facilisis in
      </button>
            <button type="button" class="list-group-item list-group-item-action">
        Morbi leo risus
      </button>
        </div>
    </div>
</div>